<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FullTestDatabase" connectionString="Data Source=localhost;Initial Catalog=Chinook_Integration;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>