<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FullTestDatabase" connectionString="data source=localhost;initial catalog=AdventureWorks_Integration;persist security info=True;Integrated Security=true;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>